@charset "UTF-8";
html {
  --bg: #fff;
  --bgLight: #fff;
  --bgSelect: #def;
  --bgBorder: #00000010;
  --color: #000;
  --blue: #000cc6;
  --colorSelect: #2d41b4;
  --grey: #6e6e6e;
  --green: #00bb19;
  --invert: invert(0%);
}
html.dark {
  --bg: #1e1e1e;
  --bgLight: #303030;
  --bgSelect: #5a5a5a36;
  --bgBorder: #ffffff13;
  --color: #fff;
  --colorSelect: #dbeeff;
  --blue: #a4e4ff;
  --grey: #6e6e6e;
  --green: #0bce25;
  --invert: invert(100%);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: var(--color);
}

html, body {
  height: 100%;
  padding: 0 2px;
  background: var(--bg);
}

a {
  text-decoration: none;
  color: var(--blue);
  border-bottom: 1px solid transparent;
  transition: color 0.2s, border-bottom 0.2s;
}
a:hover {
  color: var(--blue);
  border-color: var(--blue);
}

button, input[type=submit], input[type=button], .menu_a-button {
  color: var(--color);
  padding: 5px;
  background-color: var(--bg);
  border: 1px solid var(--bgBorder);
  margin: 0;
  transition: color 0.2s, background-color 0.2s;
}
button:hover, input[type=submit]:hover, input[type=button]:hover, .menu_a-button:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--bgSelect);
}

input[type=checkbox] {
  filter: var(--invert);
}

textarea {
  width: 100%;
  margin: 4px 0;
  white-space: pre;
  border: 1px solid var(--bgBorder);
  color: var(--color);
  background: var(--bg);
}

.container-head, .container-body {
  display: flex;
}

.container-body {
  min-height: 90%;
}

h1 {
  font-size: 40px;
}

.logo {
  font-size: 40px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s color;
  border-bottom: none;
  color: var(--color);
}
.logo:hover {
  color: var(--blue);
  border-bottom: none;
}

.search-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  margin: 10px;
  width: 60%;
  justify-content: center;
}
.search-form #searchString {
  min-width: 200px;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--bgBorder);
  background: var(--bgLight);
  border-radius: 2px 0 0 2px;
  font-size: 16px;
  margin-right: 0;
}
.search-form #searchString:focus {
  border-radius: 3px;
  outline-offset: -2px;
}
.search-form #searchButton {
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.search-form #searchButton:focus {
  border-radius: 3px;
  outline-offset: -2px;
}

.th {
  transition: color 0.2s;
}
.th:hover {
  color: var(--blue);
  cursor: pointer;
}

.ASD::after {
  content: " ▲";
}

.DESC::after {
  content: " ▼";
}

.table-div {
  width: 100%;
  padding: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table th, .table td {
  border: 1px solid var(--bgBorder);
}
.table tr {
  transition: 0.1s background;
}
.table tbody > tr:hover {
  background: var(--bgSelect);
}
.table td {
  padding: 2px 4px;
}
.table_size {
  min-width: 80px;
}
.table_seeds, .table_peers {
  min-width: 30px;
}
.table_title {
  width: 100%;
}
.table_column__left {
  text-align: left;
}
.table_column__center {
  text-align: center;
}
.table_column__grey {
  font-style: italic;
  color: var(--grey);
}

.menu {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-right: 5px;
}
.menu_settings {
  padding-top: 30px;
}
.menu_context-toggle {
  white-space: nowrap;
  display: inline-block;
  padding: 5px 0;
}
.menu_activator {
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}
.menu_activator.active .menu_img-arrow {
  transform: rotate(180deg);
}
.menu_img-arrow {
  height: 15px;
  width: 15px;
  transform: rotate(0deg);
  opacity: 0.7;
  transition: 0.2s opacity;
  filter: var(--invert);
}
.menu_img-arrow:hover {
  opacity: 1;
}
.menu_trackers {
  padding: 5px 0;
}
.menu_div {
  overflow: hidden;
  white-space: nowrap;
}
.menu_div .menu_icon {
  opacity: 0.4;
  transition: 0.2s opacity;
  pointer-events: none;
}
.menu_div .menu_div-name {
  opacity: 0.4;
  transition: 0.2s opacity;
  padding-left: 3px;
  color: var(--blue);
}
.menu_div.active .menu_icon {
  opacity: 1;
  pointer-events: auto;
}
.menu_div.active .menu_div-name {
  opacity: 1;
}
.menu_button {
  width: 100%;
  border-radius: 2px;
  transition: 0.2s background-color;
  border-color: var(--bgBorder);
  color: var(--color);
  margin-top: 2px;
}
.menu_a-button {
  width: auto;
  text-align: center;
  border-radius: 2px;
  transition: 0.2s background-color;
  border-color: var(--bgBorder);
  color: var(--color);
  margin-top: 2px;
}
.menu_a-button:hover {
  border-color: var(--bgBorder);
}
.menu_item {
  filter: grayscale(0%);
  transition: 0.2s filter;
  cursor: pointer;
  display: inline;
}
.menu_item.inactive {
  filter: grayscale(100%);
}
.menu_item.error::before {
  content: "●";
  color: red;
  padding-right: 2px;
  vertical-align: top;
}
.menu input {
  margin-right: 3px;
}
.menu a {
  padding-left: 3px;
}
.menu button, .menu input, .menu .menu_a-button, .menu .menu_settings, .menu .menu_div-name, .menu .little-text {
  display: none;
}
.menu.active button, .menu.active a, .menu.active input, .menu.active .menu_div-name, .menu.active .little-text {
  display: initial;
}
.menu.active .menu_a-button, .menu.active .menu_settings {
  display: block;
}

.little-text {
  font-size: 9px;
  color: var(--green);
  font-weight: bold;
}
.little-text.error {
  color: red;
}

.author {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 30px 3px 3px;
  background: linear-gradient(to right, var(--bg) 80%, transparent 100%);
  color: var(--grey);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.author > span {
  color: var(--grey);
}

.login-link {
  text-align: center;
}

.little-text {
  padding-left: 2px;
}

.search-form {
  position: relative;
}

.search-form-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border-left: 1px solid var(--bgBorder);
  border-right: 1px solid var(--bgBorder);
  border-bottom: 1px solid var(--bgBorder);
  border-radius: 0 0 2px 2px;
  list-style: none;
  background: var(--bg);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
}
.search-form-suggestions > li {
  padding: 1.5px 1.5px 2px 1.5px;
}
.search-form-suggestions > li:hover, .search-form-suggestions > li:focus {
  cursor: pointer;
  color: var(--color);
  background-color: var(--bgSelect);
}
.search-form-suggestions:empty {
  border: none;
  box-shadow: none;
}

.container-menu-custom > button {
  display: block;
  width: 100%;
  white-space: nowrap;
  margin-top: 4px;
}